#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

* {
  background: rgb(255, 255, 255);
}
.App{
  padding: 1rem;
}

.card {
  padding: 2em;
}

#nav {
  border-bottom: 5px solid rgb(0, 0, 0);
  padding-bottom: 1rem;
}

.article-list{
  display: flex;
  flex-wrap:wrap;
  padding: 2rem;
  flex-basis: 33.333%;
  align-content: flex-start;
}

.sort-order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sort-buttons, .order-buttons {
  display: flex;
  align-items: center;
}

.order-buttons {
  margin-left: auto;
}

.sort-buttons button, .order-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sort-buttons button:hover, .order-buttons button:hover {
  background-color: #0056b3;
}


span.italic {
  font-style: italic;
}

.article-card{
  margin: 0.3rem;
}

#image {
  height: 7rem;
}
#single-article-image {
  height: 18rem;
}

.single-article {
  margin-top: 3rem;
}
.article-body{
  padding-bottom: 1rem;
}

.comments-section {
  border-top: 3px solid rgb(0, 0, 0);
  margin-left: 0px;
  padding: 2rem;
}

.single-comment {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem 0 1rem;
}

.comment-list {
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 100%;
}

.delete-button {
  float: right;
}

#commentBody {
  color: black;
}

.sort-buttons{
  margin-bottom: 10px;
}
.order-buttons{
  margin-right: 0px;
}