#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
}

* {
  background: rgb(255, 255, 255);
}
.App{
  padding: 1rem;
  margin: 0 auto;
}

.card {
  padding: 2em;
}

#nav {
  border-bottom: 5px solid rgb(0, 0, 0);
  padding-bottom: 1rem;
}

.article-list{
  display: flex;
  flex-wrap:wrap;
  padding: 2rem;
  flex-basis: 33.333%;
  align-content: flex-start;
}



.sort-buttons, .order-buttons {
  align-items: center;
}

.order-buttons {
  margin-left: auto;
}

.sort-buttons button, .order-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

span.italic {
  font-style: italic;
}

.article-card{
  margin: 0.3rem;
}

#image {
  height: 7rem;
}
#single-article-image {
  height: 18rem;
}

.single-article {
  margin-top: 3rem;
}
.article-body{
  padding-bottom: 1rem;
}

.comments-section {
  border-top: 3px solid rgb(0, 0, 0);
  margin-left: 0px;
  padding: 2rem;
}

.single-comment {
  width: auto;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.comment-list {
  display: flex;
  flex-direction: column;
}
.comment-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
}


.delete-button {
  float: right;
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  height: 34px;
  padding: 0 13px;
  vertical-align: top;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all .3s ease;
  background: #fff;
  border-color: #e8e8e8;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 11px;
}

.delete-button:hover {
  background: #e8e8e8;
  color: #3d3d3d;
}

.post-button{
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  height: 34px;
  padding: 0 13px;
  vertical-align: top;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all .3s ease;
  background: #fff;
  border-color: #e8e8e8;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 11px;
}

.post-button:hover{
  background: #e8e8e8;
  color: #3d3d3d;
}

#commentBody {
  color: black;
}

.sort-buttons{
  margin-bottom: 10px;
}
.order-buttons{
  margin-right: 0px;
}

.vote-buttons button{
  background-color: rgb(255, 255, 255);
  margin-right: 1rem;
  border: none
}

.vote-buttons button:hover {
  cursor: pointer;
  color: blue;
  transition: all .3s ease;
}
.vote-buttons button:disabled {
  cursor: pointer;
  color: blue
}